.container {
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
}

.container_stack {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    margin-top: .5rem;
}

.container_stack p {
    font-size: .8rem;
    text-wrap: nowrap;
    margin: 0;
    color: rgb(189, 189, 189);
}

.container_stack svg,
.container_stack img {
    transition: transform 250ms;
}

.container_stack:hover svg,
.container_stack:hover img {
    transform: scale(1.1);
}